.about {
  margin: auto;
  width: clamp(250px, 80vw, 500px);
}

.about__title {
  text-align: center;
  font-size: clamp(1rem, 6vw, 3rem);
}

.about__card {
  background-color: #252d3e;
  padding: 1rem;
  padding: clamp(1rem, 4vw, 2rem);
  margin: 4rem 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.about__info {
  font-size: clamp(0.5rem, 3vw, 1.2rem);
}

.about__animate {
  animation: fadeIn 1s forwards;
  -moz-animation: fadeIn 1s forwards;
  -webkit-animation: fadeIn 1s forwards;
  opacity: 0;
  transform: scale(80%);
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}

@-moz-keyframes fadeIn {
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}

@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}
